



.body {
    height: 1000px;
    width: 100%;
    background: var(--Primario, #091021);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Para alinear el contenido en la parte superior */
    align-items: center;
    
    padding-top: 50px;/* Agrega un margen superior de 50px */
}

.form {
    display: flex;
    width: 482px;
    height: 725px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 0px rgba(180, 178, 178, 0.25)) ;
    -webkit-filter: drop-shadow(4px 4px 0px rgba(177, 174, 174, 0.25)) ;
    
    /*padding-bottom: 50px;
    padding-top: 50px;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.logo-container{
    margin-top: 200px;
    margin-bottom: 20px;
}

.text h6 {
    color: var(--neutro-oscuro, #010612);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    h3 {
    color: var(--Primario, #06122F);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    }

    .button {
        width: 430.125px;
        height: 47.771px;
        flex-shrink: 0;
        background-color: #F02B2B;
        fill: var(--secundario, #F02B2B);
        filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25)) ;
        -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25)) ;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}
    .btn {
        fill: var(--secundario, #F02B2B);
        filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
        -webkit-filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.25));
}
        
        
        
    .bt {
            width: 136.013px;
            height: 47.771px;
            flex-shrink: 0;
    
    }
    

    label {
        width: 300px;
        height: 21px;
        flex-shrink: 0;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: none;
        display: block;
        margin-bottom: 5px;
        color: #333;
        -moz-text-decoration-line: none;
    }

    input:required {
        border: 1px solid red;
    }
    
    

    .etiq{
        text-align: left;
        width: 239.795px;
        height: 21.835px;
        flex-shrink: 0;
        color: var(--Primario, #091021);
    

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    }

 /*
.etq{
    text-align: left;
        color: var(--Acento, #538C00);
        
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    
        text-decoration: none;
        

    }
*/
    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="number"] {
    width: 369px;
    height: 33px;
    border-radius: 5px;
    background: var(--primario--L2, #9AAFE4);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    webkit-border-radius:5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius:5px;
    
}


    input[type="password"]::placeholder,
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="number"]::placeholder{
        width: 100%;
        height: 21px;
        flex-shrink: 0;
        color: #3b3737;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: none;
        -moz-text-decoration-line:none;
}



.etiq{
    text-align:left;
    width: 300px;
    height: 21.835px;
    flex-shrink: 0;
    color: var(--Primario, #091021);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.button{
    width: 140.985px;
height: 47.771px;
flex-shrink: 0;
padding-bottom: 15px;
}

button[type="submit"] {
    margin-top: 5px; 
    margin-bottom: 45px; 
}


.facebook-button {
    width: 369px;
    height: 33.202px;
    flex-shrink: 0;
    padding-top: 145px;
    margin: 10px;
    background-color: var(--secundario, #F02B2B);
    /*ColordefondodeFacebook*/color: rgba(9, 16, 33, 1);
    /*Colordeltexto*/padding: 10px 20px;
    /*Espaciadointerno*/border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    /*Transiciónsuaveparaelcolordefondo*/-webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    background: var(--primario--L2, #9AAFE4);
    /*sombra-cards*/box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25), 0px 4px 10px 0px #0E1526, 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: background-color 0.3s ease-in-out;
}

.facebook-button:hover {
    background-color:var(--secundario, #F02B2B); /* Cambia el color de fondo al pasar el cursor */
}

.fab fa-facebook{
    font-size: 34px;
}


.facebook-button i {
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    color: #06122F;
    
}

    
    

/*-------------------spinner--------------------------------------*/


.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 6px solid transparent;
    border-top: 6px solid #F02B2B;
    /*Colordelspinner*/border-radius: 50%;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}














/*fat footer-----------------------------*/

.fat-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con el mismo ancho */
    
    color: white;
    padding: 20px 0;
    width: 100%;
   height: 450px;
  flex-shrink: 0;
   border-top: 4px solid var(--secundario, #F02B2B);
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: var(--Primario, #091021);

}

/* Estilo para cada columna */
 .columna {
    padding: 10px;
    text-align: center;
}

.columna h3 {
    margin: 0;
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 5px;
    line-height: 1.5;
}

.columna p {
    color: white;
    text-decoration: none;
}

.columna p:hover {
    text-decoration: underline;
}
 
p{
    color: #FFF;

/* Body-normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
}
 
.blanca{
    color: #FFF;

/* H3 */
font-family: Roboto;
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.columna .iconos {
    margin-top: auto; /* Empuja los iconos hacia abajo */
    display: flex;
    justify-content: space-between;
    width: 90px; /* Ancho total de los iconos (45px + 45px) */
}

/* Estilo para los iconos individuales */
.columna .iconos img {
    width: 45px;
    height: 45px;
    filter: grayscale(100%) invert(1);
    margin-inline: 20px;
    -webkit-filter: grayscale(100%) invert(1);
}

.derechos-reservados {

    width: 100%;
   height: 58px;
    flex-shrink: 0;
    background: var(--secundario, #F02B2B);
   
    
    text-align: center;
    padding: 10px 0;
   
}
.negrita{
    color: #000;
    
text-align: center;

/* Body-negrita */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}